

.add-new-header {
    background-color: var(--element-common);
    border-radius: 5px;
    height: 50px;
    padding: 0 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.add-new-header h2 {
    margin: 0;
}

.create-new textarea::before {
    content: "";
    background: url('../assets/seal+kelp.jpg');
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: .6;
}



.add-new-submit {
    background-color: var(--element-common);
    outline: 1px solid var(--element-common);
    float: right;
}